<p style="color: green"><%= notice %></p>



<div class="card-body col-lg-10 m-3 d-flex">
  <div> 
    <%= render @user %>
  </div>
  <div> 
   <%= link_to "Edit this user", edit_user_path(@user),class: "btn btn-outline-warning m-2" %> 
  <%= link_to "Back to users", users_path,class: "btn btn-outline-primary m-2" %>

  <%= button_to "Destroy this user", @user, method: :delete,class: "btn btn-outline-danger m-2" %>
    
  </div>
</div>
