
<p id="notice"><%= notice %></p>
<h1 class="text-center border p-2 m-3 text-danger">Micropost</h1>
<table class="table">
<thead>
<tr>
<th>Name</th>
<th>Email</th>
<th colspan="3">Action</th>
</tr>
</thead>
<tbody>
<% @microposts.each do |micropost| %>
<tr>
<td><%= micropost.content %></td>
<td><%= micropost.user_id %></td>
<td><%= link_to 'Show', micropost,class:"btn btn-primary" %>
<%= link_to 'Edit', edit_micropost_path(micropost),class:"btn btn-warning" %>
<%= link_to 'Destroy', micropost, method: :delete,
data: { confirm: 'Are you sure?' },class:"btn btn-danger" %>
</td>
</tr>
<% end %>
</tbody>
</table>
<br>
<%= link_to 'New micropost', new_micropost_path, class: "btn btn-outline-primary m-3" %>